@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

.paper {
    width: 100%;
    height: 90%;
    position: relative;
    margin: 20px auto;
    background-color: #201F1E;
    padding: 40px 0;
    overflow: hidden;
    font-family: 'Raleway', sans-serif;
}

.paper::before {
    width: 2px;
    content: '';
    position: absolute;
    top: 0;
    left: 40px;
    height: 100%;
    background-color: #7c000a;
}

.pattern {
    height: 100%;
    background-image: repeating-linear-gradient(#201F1E 3px, #201F1E 24px, #133B56 25px);
}

.patternLight {
    background-image: repeating-linear-gradient(#FBFBF8 3px, #FBFBF8 24px, #929292 25px);
}

.paperLight::before {
    background-color: red;
}

#content {
    display: block;
    position: relative;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    padding-top: 6px;
    padding-left: 56px;
    padding-right: 16px;
    line-height: 25px;
}

.text {
    display: inline-block;
    position: relative;
    margin-left: 0.5em;
    transition: color 300ms ease-in;
}

.text:before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    height: 1px;
    width: 0;
    background-color: rgb(221, 221, 221);

    transition: width 300ms ease-in;
}

.textLight:before {
    background-color: #60626c;
}

#content input:checked ~ #entry__container .text {
    color: rgba(221, 221, 221, 0.25);
}

#content input:checked ~ #entry__container .text:before {
    width: 100%;
}

#content input:checked ~ #entry__container .textLight {
    color: #60626caa;
}

#emoticon {
    display: inline-block;
    overflow: hidden;
    border-right: 2px solid white;
    white-space: nowrap;
    padding: 0.25em;
    animation: 
        typing 3.5s steps(40, end),
        blink-caret 750ms  infinite;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: white }
}